* {
margin: 0;
padding: 0;
}

body {
padding-top: 60px;
background-color: #343A40;
}

#body-cover {
z-index: -1;
height: 100%;
width: 100%;
background-color: #FFF;
}

#icon-span {
text-align: center;
width: 100%;
}


.photo-icon {
width: 70%;
border-radius: 180px;
border: solid 5px #343A40;
margin-bottom: 10px;
}


.jumbotron {
background: url(../Photos/bike.jpg);
background-position: center;
position: relative;
top: 10px;
background-size: auto;
color: #FFF;
border: 3px solid #343A40;
text-shadow: 2px 1px #000;
-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

.jumbotron h1 {
font-size: 48px;
font-family: 'Lobster', cursive;
} 

.jumbotron p {
font-size: 24px;
font-family: 'Cabin Condensed', sans-serif;
}

.body-p {
font-size: 18px;
text-align: justify;
}

.row {
padding-top: 30px;
padding-bottom: 40px;
}

footer {
width: 100%;
color: #FFF;
background: #343A40;
padding-bottom: 10px;
}

footer p {
padding-top: 5px;
}

#gl, #madison {
width: 100%;
padding-bottom: 20px;
text-align: center;
font-size: 16px;
}


#gl img, #madison img {
position: relative;
width: 90%;
height: auto;
border: solid 2px #343A40;
-webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.1);
-moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.1);
}

.portfolio-item {
text-align: center;
padding: 20px;
}

#item-container {
border: solid 1px rgba(0,0,0,0.2);
border-radius: 5px;
height: 100%;
padding: 15px;
-webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.1);
-moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.1);
}

.badge-primary {
background: #343A40;
}

.portfolio-img {
width: 50%;
border: solid 1px #343A40;
border-radius: 180px;
margin-bottom: 15px;
}

.contact-button {
text-align: center;
display: inline-block;
width: 100%;
}

.contact-btn {
margin: 5px;
}

.contact-button img {
margin-top: 20px;
width: 90%;
border: solid 2px #343A40;
-webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.1);
-moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.1);
}

.navbar-brand {
font-family: 'Lobster', cursive;
font-size: 24px;
}

h1, h2, h3, h4, h5 {
font-family: 'Cabin Condensed', sans-serif;
font-weight:bolder
}
